<section class="status-cards-container">
  <h2 class="title">Status page URL</h2>
  <section class="info-card">
    <div class="info-card__img--container">
      {{svg-jar "default-logo" class="info-card__img"}}
    </div>
    <section class="info-card__content">
      <h3 class="info-card__subtitle">Your public status page URL</h3>
      <a href="" class="info-card__link">
        https://acmeinc.status.freshservice.com
        {{svg-jar "open-new-tab" class="icon-new-tab"}}
      </a>
    </section>
  </section>
  <h2 class="title">Enhance your status page: Effortlessly configure services, customizations, and subscribers!</h2>
  <section class="status-cards">
    <section class="status-card">
      <div class="status-card__img--container">
        {{svg-jar "manage" class="status-card__img"}}
      </div>
      <section class="status-card__content">
        <h3 class="title">Configure services</h3>
        <p class="status-card__content--paragragh">
          Effortlessly manage and customize your services to ensure accurate representation on the status
          page.
        </p>
      </section>
    </section>
    <section class="status-card">
      <div class="status-card__img--container">
        {{svg-jar "manage-subscriber" class="status-card__img"}}
      </div>
      <section class="status-card__content">
        <h3 class="title">Customize status page</h3>
        <p class="status-card__content--paragragh">
          Tailor your status page to align perfectly with your brand by personalizing content and appearance.
        </p>
      </section>
    </section>
    <section class="status-card">
      <div class="status-card__img--container">
        {{svg-jar "manage-subscriber" class="status-card__img"}}
      </div>
      <section class="status-card__content">
        <h3 class="title">Manage subscribers</h3>
        <p class="status-card__content--paragragh">
          Track and manage your Status page subscribers and the services they have subscribed
        </p>
      </section>
    </section>
  </section>
</section>
<SideBar />