<div class="page-side-nav-container">
  <div class="nav-logo">
    <img alt="" role="none" class="nav-logo-img" src="/assets/inline-svg/app-colored-icons/logo.svg">
  </div>

  <nav class="nav-menu">
    <ul>
      <li class="nav-menu-item">
        <LinkTo @route="assignment1" class="menu-link">
					{{svg-jar "menu1" }}
				</LinkTo>
      </li>
      <li class="nav-menu-item">
        <LinkTo @route="assignment2" class="menu-link">
          {{svg-jar "menu2" }}
				</LinkTo>
      </li>
      <li class="nav-menu-item">
        <LinkTo @route="assignment3" class="menu-link">
          {{svg-jar "menu3" }}
				</LinkTo>
      </li>
      <li class="nav-menu-item">
        <LinkTo @route="assignment4" class="menu-link">
          {{svg-jar "menu3" }}
				</LinkTo>
      </li>
      <li class="nav-menu-item">
        <LinkTo @route="assignment5" class="menu-link">
          {{svg-jar "menu2" }}
				</LinkTo>
      </li>
    </ul>
  </nav>
</div>