{{!
Implementing Vertical Tabs
- Design Link https://www.figma.com/file/aCcosQZMuHJp4VgJ3GnIIA/MIM-Ideation?type=design&node-id=825%3A188486&mode=design&t=4R0eklENd0B4q59G-1
- In the design the vertical tabs are inside modal but we will be implementing that in page layout where the tab
  are stick to the main left nav
- Have the width of tabs container be 360px
- On hover of tab, change the bg to white
- Handle cases where the tab name is too big
- On scroll only the tab pane should scroll -> Ignore the cases when many tabs are present
}}
<div class="tabs vertical-tabs">
  <section class="tabs-items">
    {{#each @model as |tab|}}
    <a href="#{{tab.name}}" class="tabs-item {{if (eq tab.name this.selectedTab) 'active'}}" {{on "click" (fn
      this.selectTab tab.name)}}>
      {{tab.label}}
    </a>
    {{/each}}
  </section>
  <div class="tabs-content">
    {{#each @model as |tab|}}
    <div class="tabs-pane {{if (eq tab.name this.selectedTab) 'active'}}">
      {{tab.content}}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac
          dapibus nunc, vel luctus nulla. Integer in pretium ipsum. Fusce
          vulputate lorem eu ex efficitur efficitur. Cras sit amet metus ut
          justo luctus facilisis. Ut ut lacus ultrices, venenatis lorem non,
          consequat erat. Vestibulum viverra orci non neque sodales, non
          porttitor nisl sollicitudin. Curabitur dignissim diam non nisi congue
          aliquet. Sed at porta risus. Sed pulvinar faucibus mauris, sed
          tincidunt metus porta id. Fusce sit amet vulputate dui. Vestibulum
          vulputate tellus id risus suscipit, vitae pulvinar nunc elementum. Nam
          nisi magna, scelerisque eget nisl et, pretium molestie orci.
          Vestibulum ac tempor elit, sed congue metus. Proin commodo nisl at
          mollis porta. Aenean orci diam, fringilla ornare erat vitae, laoreet
          sodales dolor. Morbi efficitur ante purus, eget euismod turpis
          ultrices vitae. Phasellus eu sem eget lectus vestibulum varius.
          Suspendisse dapibus magna ac diam hendrerit, vitae interdum leo
          mollis. Proin sit amet dictum turpis. Ut nec ex et enim facilisis
          scelerisque. Etiam pulvinar sodales quam. Cras scelerisque ultricies
          lacus vel porta. Ut scelerisque elit eu orci sagittis laoreet.
          Curabitur sed sollicitudin sem, id aliquet ex. Vestibulum porttitor
          eros ac tellus accumsan eleifend venenatis nec est. Vestibulum vel
          arcu risus. Etiam nec congue risus. Integer molestie, est sit amet
          efficitur iaculis, nulla mauris porttitor neque, in condimentum ex ex
          a nulla. Nam scelerisque, mi sit amet lacinia vulputate, dolor tortor
          sollicitudin nisl, et ornare turpis dolor vel turpis. Quisque aliquam,
          augue vel feugiat sollicitudin, ipsum mauris consequat ligula, vitae
          viverra magna nibh sit amet elit. Pellentesque at placerat dolor.
          Fusce ante ex, viverra sed massa eu, blandit accumsan dui. Phasellus
          fermentum lobortis metus quis euismod. Fusce euismod, leo id
          condimentum ultrices, leo augue aliquet elit, in mollis erat diam sed
          ipsum. Morbi volutpat tempus imperdiet. Sed rutrum quis sem eu
          viverra. Proin et velit sapien. Suspendisse at sapien nunc. Praesent
          gravida erat ac blandit accumsan. Etiam pretium nunc sed ultrices
          volutpat. Curabitur egestas varius mauris non varius. Cras rutrum ex
          sit amet tellus molestie finibus. Integer at lacus vel risus accumsan
          tristique. Donec hendrerit aliquet mi eu viverra. Proin elementum
          tempus suscipit. Morbi sagittis mi interdum imperdiet semper.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Donec hendrerit nibh eget elementum pharetra.
          Sed sit amet magna ex. Aliquam erat volutpat. Nulla consectetur
          ultrices eleifend. Fusce mi tortor, fringilla in tincidunt eget,
          convallis a lorem. Mauris malesuada elit sit amet dapibus viverra.
          Pellentesque efficitur tellus libero, nec tristique orci pharetra eu.
          Ut vitae mi placerat massa finibus gravida. Vestibulum odio mauris,
          hendrerit sit amet placerat facilisis, commodo in lectus. Sed vehicula
          tellus nec dignissim laoreet. Aliquam suscipit sapien nec metus
          lacinia auctor. Cras vitae quam eget magna lacinia efficitur. Proin
          dui urna, interdum id leo sed, egestas pellentesque purus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac
          dapibus nunc, vel luctus nulla. Integer in pretium ipsum. Fusce
          vulputate lorem eu ex efficitur efficitur. Cras sit amet metus ut
          justo luctus facilisis. Ut ut lacus ultrices, venenatis lorem non,
          consequat erat. Vestibulum viverra orci non neque sodales, non
          porttitor nisl sollicitudin. Curabitur dignissim diam non nisi congue
          aliquet. Sed at porta risus. Sed pulvinar faucibus mauris, sed
          tincidunt metus porta id. Fusce sit amet vulputate dui. Vestibulum
          vulputate tellus id risus suscipit, vitae pulvinar nunc elementum. Nam
          nisi magna, scelerisque eget nisl et, pretium molestie orci.
          Vestibulum ac tempor elit, sed congue metus. Proin commodo nisl at
          mollis porta. Aenean orci diam, fringilla ornare erat vitae, laoreet
          sodales dolor. Morbi efficitur ante purus, eget euismod turpis
          ultrices vitae. Phasellus eu sem eget lectus vestibulum varius.
          Suspendisse dapibus magna ac diam hendrerit, vitae interdum leo
          mollis. Proin sit amet dictum turpis. Ut nec ex et enim facilisis
          scelerisque. Etiam pulvinar sodales quam. Cras scelerisque ultricies
          lacus vel porta. Ut scelerisque elit eu orci sagittis laoreet.
          Curabitur sed sollicitudin sem, id aliquet ex. Vestibulum porttitor
          eros ac tellus accumsan eleifend venenatis nec est. Vestibulum vel
          arcu risus. Etiam nec congue risus. Integer molestie, est sit amet
          efficitur iaculis, nulla mauris porttitor neque, in condimentum ex ex
          a nulla. Nam scelerisque, mi sit amet lacinia vulputate, dolor tortor
          sollicitudin nisl, et ornare turpis dolor vel turpis. Quisque aliquam,
          augue vel feugiat sollicitudin, ipsum mauris consequat ligula, vitae
          viverra magna nibh sit amet elit. Pellentesque at placerat dolor.
          Fusce ante ex, viverra sed massa eu, blandit accumsan dui. Phasellus
          fermentum lobortis metus quis euismod. Fusce euismod, leo id
          condimentum ultrices, leo augue aliquet elit, in mollis erat diam sed
          ipsum. Morbi volutpat tempus imperdiet. Sed rutrum quis sem eu
          viverra. Proin et velit sapien. Suspendisse at sapien nunc. Praesent
          gravida erat ac blandit accumsan. Etiam pretium nunc sed ultrices
          volutpat. Curabitur egestas varius mauris non varius. Cras rutrum ex
          sit amet tellus molestie finibus. Integer at lacus vel risus accumsan
          tristique. Donec hendrerit aliquet mi eu viverra. Proin elementum
          tempus suscipit. Morbi sagittis mi interdum imperdiet semper.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Donec hendrerit nibh eget elementum pharetra.
          Sed sit amet magna ex. Aliquam erat volutpat. Nulla consectetur
          ultrices eleifend. Fusce mi tortor, fringilla in tincidunt eget,
          convallis a lorem. Mauris malesuada elit sit amet dapibus viverra.
          Pellentesque efficitur tellus libero, nec tristique orci pharetra eu.
          Ut vitae mi placerat massa finibus gravida. Vestibulum odio mauris,
          hendrerit sit amet placerat facilisis, commodo in lectus. Sed vehicula
          tellus nec dignissim laoreet. Aliquam suscipit sapien nec metus
          lacinia auctor. Cras vitae quam eget magna lacinia efficitur. Proin
          dui urna, interdum id leo sed, egestas pellentesque purus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac
          dapibus nunc, vel luctus nulla. Integer in pretium ipsum. Fusce
          vulputate lorem eu ex efficitur efficitur. Cras sit amet metus ut
          justo luctus facilisis. Ut ut lacus ultrices, venenatis lorem non,
          consequat erat. Vestibulum viverra orci non neque sodales, non
          porttitor nisl sollicitudin. Curabitur dignissim diam non nisi congue
          aliquet. Sed at porta risus. Sed pulvinar faucibus mauris, sed
          tincidunt metus porta id. Fusce sit amet vulputate dui. Vestibulum
          vulputate tellus id risus suscipit, vitae pulvinar nunc elementum. Nam
          nisi magna, scelerisque eget nisl et, pretium molestie orci.
          Vestibulum ac tempor elit, sed congue metus. Proin commodo nisl at
          mollis porta. Aenean orci diam, fringilla ornare erat vitae, laoreet
          sodales dolor. Morbi efficitur ante purus, eget euismod turpis
          ultrices vitae. Phasellus eu sem eget lectus vestibulum varius.
          Suspendisse dapibus magna ac diam hendrerit, vitae interdum leo
          mollis. Proin sit amet dictum turpis. Ut nec ex et enim facilisis
          scelerisque. Etiam pulvinar sodales quam. Cras scelerisque ultricies
          lacus vel porta. Ut scelerisque elit eu orci sagittis laoreet.
          Curabitur sed sollicitudin sem, id aliquet ex. Vestibulum porttitor
          eros ac tellus accumsan eleifend venenatis nec est. Vestibulum vel
          arcu risus. Etiam nec congue risus. Integer molestie, est sit amet
          efficitur iaculis, nulla mauris porttitor neque, in condimentum ex ex
          a nulla. Nam scelerisque, mi sit amet lacinia vulputate, dolor tortor
          sollicitudin nisl, et ornare turpis dolor vel turpis. Quisque aliquam,
          augue vel feugiat sollicitudin, ipsum mauris consequat ligula, vitae
          viverra magna nibh sit amet elit. Pellentesque at placerat dolor.
          Fusce ante ex, viverra sed massa eu, blandit accumsan dui. Phasellus
          fermentum lobortis metus quis euismod. Fusce euismod, leo id
          condimentum ultrices, leo augue aliquet elit, in mollis erat diam sed
          ipsum. Morbi volutpat tempus imperdiet. Sed rutrum quis sem eu
          viverra. Proin et velit sapien. Suspendisse at sapien nunc. Praesent
          gravida erat ac blandit accumsan. Etiam pretium nunc sed ultrices
          volutpat. Curabitur egestas varius mauris non varius. Cras rutrum ex
          sit amet tellus molestie finibus. Integer at lacus vel risus accumsan
          tristique. Donec hendrerit aliquet mi eu viverra. Proin elementum
          tempus suscipit. Morbi sagittis mi interdum imperdiet semper.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Donec hendrerit nibh eget elementum pharetra.
          Sed sit amet magna ex. Aliquam erat volutpat. Nulla consectetur
          ultrices eleifend. Fusce mi tortor, fringilla in tincidunt eget,
          convallis a lorem. Mauris malesuada elit sit amet dapibus viverra.
          Pellentesque efficitur tellus libero, nec tristique orci pharetra eu.
          Ut vitae mi placerat massa finibus gravida. Vestibulum odio mauris,
          hendrerit sit amet placerat facilisis, commodo in lectus. Sed vehicula
          tellus nec dignissim laoreet. Aliquam suscipit sapien nec metus
          lacinia auctor. Cras vitae quam eget magna lacinia efficitur. Proin
          dui urna, interdum id leo sed, egestas pellentesque purus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac
          dapibus nunc, vel luctus nulla. Integer in pretium ipsum. Fusce
          vulputate lorem eu ex efficitur efficitur. Cras sit amet metus ut
          justo luctus facilisis. Ut ut lacus ultrices, venenatis lorem non,
          consequat erat. Vestibulum viverra orci non neque sodales, non
          porttitor nisl sollicitudin. Curabitur dignissim diam non nisi congue
          aliquet. Sed at porta risus. Sed pulvinar faucibus mauris, sed
          tincidunt metus porta id. Fusce sit amet vulputate dui. Vestibulum
          vulputate tellus id risus suscipit, vitae pulvinar nunc elementum. Nam
          nisi magna, scelerisque eget nisl et, pretium molestie orci.
          Vestibulum ac tempor elit, sed congue metus. Proin commodo nisl at
          mollis porta. Aenean orci diam, fringilla ornare erat vitae, laoreet
          sodales dolor. Morbi efficitur ante purus, eget euismod turpis
          ultrices vitae. Phasellus eu sem eget lectus vestibulum varius.
          Suspendisse dapibus magna ac diam hendrerit, vitae interdum leo
          mollis. Proin sit amet dictum turpis. Ut nec ex et enim facilisis
          scelerisque. Etiam pulvinar sodales quam. Cras scelerisque ultricies
          lacus vel porta. Ut scelerisque elit eu orci sagittis laoreet.
          Curabitur sed sollicitudin sem, id aliquet ex. Vestibulum porttitor
          eros ac tellus accumsan eleifend venenatis nec est. Vestibulum vel
          arcu risus. Etiam nec congue risus. Integer molestie, est sit amet
          efficitur iaculis, nulla mauris porttitor neque, in condimentum ex ex
          a nulla. Nam scelerisque, mi sit amet lacinia vulputate, dolor tortor
          sollicitudin nisl, et ornare turpis dolor vel turpis. Quisque aliquam,
          augue vel feugiat sollicitudin, ipsum mauris consequat ligula, vitae
          viverra magna nibh sit amet elit. Pellentesque at placerat dolor.
          Fusce ante ex, viverra sed massa eu, blandit accumsan dui. Phasellus
          fermentum lobortis metus quis euismod. Fusce euismod, leo id
          condimentum ultrices, leo augue aliquet elit, in mollis erat diam sed
          ipsum. Morbi volutpat tempus imperdiet. Sed rutrum quis sem eu
          viverra. Proin et velit sapien. Suspendisse at sapien nunc. Praesent
          gravida erat ac blandit accumsan. Etiam pretium nunc sed ultrices
          volutpat. Curabitur egestas varius mauris non varius. Cras rutrum ex
          sit amet tellus molestie finibus. Integer at lacus vel risus accumsan
          tristique. Donec hendrerit aliquet mi eu viverra. Proin elementum
          tempus suscipit. Morbi sagittis mi interdum imperdiet semper.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Donec hendrerit nibh eget elementum pharetra.
          Sed sit amet magna ex. Aliquam erat volutpat. Nulla consectetur
          ultrices eleifend. Fusce mi tortor, fringilla in tincidunt eget,
          convallis a lorem. Mauris malesuada elit sit amet dapibus viverra.
          Pellentesque efficitur tellus libero, nec tristique orci pharetra eu.
          Ut vitae mi placerat massa finibus gravida. Vestibulum odio mauris,
          hendrerit sit amet placerat facilisis, commodo in lectus. Sed vehicula
          tellus nec dignissim laoreet. Aliquam suscipit sapien nec metus
          lacinia auctor. Cras vitae quam eget magna lacinia efficitur. Proin
          dui urna, interdum id leo sed, egestas pellentesque purus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac
          dapibus nunc, vel luctus nulla. Integer in pretium ipsum. Fusce
          vulputate lorem eu ex efficitur efficitur. Cras sit amet metus ut
          justo luctus facilisis. Ut ut lacus ultrices, venenatis lorem non,
          consequat erat. Vestibulum viverra orci non neque sodales, non
          porttitor nisl sollicitudin. Curabitur dignissim diam non nisi congue
          aliquet. Sed at porta risus. Sed pulvinar faucibus mauris, sed
          tincidunt metus porta id. Fusce sit amet vulputate dui. Vestibulum
          vulputate tellus id risus suscipit, vitae pulvinar nunc elementum. Nam
          nisi magna, scelerisque eget nisl et, pretium molestie orci.
          Vestibulum ac tempor elit, sed congue metus. Proin commodo nisl at
          mollis porta. Aenean orci diam, fringilla ornare erat vitae, laoreet
          sodales dolor. Morbi efficitur ante purus, eget euismod turpis
          ultrices vitae. Phasellus eu sem eget lectus vestibulum varius.
          Suspendisse dapibus magna ac diam hendrerit, vitae interdum leo
          mollis. Proin sit amet dictum turpis. Ut nec ex et enim facilisis
          scelerisque. Etiam pulvinar sodales quam. Cras scelerisque ultricies
          lacus vel porta. Ut scelerisque elit eu orci sagittis laoreet.
          Curabitur sed sollicitudin sem, id aliquet ex. Vestibulum porttitor
          eros ac tellus accumsan eleifend venenatis nec est. Vestibulum vel
          arcu risus. Etiam nec congue risus. Integer molestie, est sit amet
          efficitur iaculis, nulla mauris porttitor neque, in condimentum ex ex
          a nulla. Nam scelerisque, mi sit amet lacinia vulputate, dolor tortor
          sollicitudin nisl, et ornare turpis dolor vel turpis. Quisque aliquam,
          augue vel feugiat sollicitudin, ipsum mauris consequat ligula, vitae
          viverra magna nibh sit amet elit. Pellentesque at placerat dolor.
          Fusce ante ex, viverra sed massa eu, blandit accumsan dui. Phasellus
          fermentum lobortis metus quis euismod. Fusce euismod, leo id
          condimentum ultrices, leo augue aliquet elit, in mollis erat diam sed
          ipsum. Morbi volutpat tempus imperdiet. Sed rutrum quis sem eu
          viverra. Proin et velit sapien. Suspendisse at sapien nunc. Praesent
          gravida erat ac blandit accumsan. Etiam pretium nunc sed ultrices
          volutpat. Curabitur egestas varius mauris non varius. Cras rutrum ex
          sit amet tellus molestie finibus. Integer at lacus vel risus accumsan
          tristique. Donec hendrerit aliquet mi eu viverra. Proin elementum
          tempus suscipit. Morbi sagittis mi interdum imperdiet semper.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Donec hendrerit nibh eget elementum pharetra.
          Sed sit amet magna ex. Aliquam erat volutpat. Nulla consectetur
          ultrices eleifend. Fusce mi tortor, fringilla in tincidunt eget,
          convallis a lorem. Mauris malesuada elit sit amet dapibus viverra.
          Pellentesque efficitur tellus libero, nec tristique orci pharetra eu.
          Ut vitae mi placerat massa finibus gravida. Vestibulum odio mauris,
          hendrerit sit amet placerat facilisis, commodo in lectus. Sed vehicula
          tellus nec dignissim laoreet. Aliquam suscipit sapien nec metus
          lacinia auctor. Cras vitae quam eget magna lacinia efficitur. Proin
          dui urna, interdum id leo sed, egestas pellentesque purus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac
          dapibus nunc, vel luctus nulla. Integer in pretium ipsum. Fusce
          vulputate lorem eu ex efficitur efficitur. Cras sit amet metus ut
          justo luctus facilisis. Ut ut lacus ultrices, venenatis lorem non,
          consequat erat. Vestibulum viverra orci non neque sodales, non
          porttitor nisl sollicitudin. Curabitur dignissim diam non nisi congue
          aliquet. Sed at porta risus. Sed pulvinar faucibus mauris, sed
          tincidunt metus porta id. Fusce sit amet vulputate dui. Vestibulum
          vulputate tellus id risus suscipit, vitae pulvinar nunc elementum. Nam
          nisi magna, scelerisque eget nisl et, pretium molestie orci.
          Vestibulum ac tempor elit, sed congue metus. Proin commodo nisl at
          mollis porta. Aenean orci diam, fringilla ornare erat vitae, laoreet
          sodales dolor. Morbi efficitur ante purus, eget euismod turpis
          ultrices vitae. Phasellus eu sem eget lectus vestibulum varius.
          Suspendisse dapibus magna ac diam hendrerit, vitae interdum leo
          mollis. Proin sit amet dictum turpis. Ut nec ex et enim facilisis
          scelerisque. Etiam pulvinar sodales quam. Cras scelerisque ultricies
          lacus vel porta. Ut scelerisque elit eu orci sagittis laoreet.
          Curabitur sed sollicitudin sem, id aliquet ex. Vestibulum porttitor
          eros ac tellus accumsan eleifend venenatis nec est. Vestibulum vel
          arcu risus. Etiam nec congue risus. Integer molestie, est sit amet
          efficitur iaculis, nulla mauris porttitor neque, in condimentum ex ex
          a nulla. Nam scelerisque, mi sit amet lacinia vulputate, dolor tortor
          sollicitudin nisl, et ornare turpis dolor vel turpis. Quisque aliquam,
          augue vel feugiat sollicitudin, ipsum mauris consequat ligula, vitae
          viverra magna nibh sit amet elit. Pellentesque at placerat dolor.
          Fusce ante ex, viverra sed massa eu, blandit accumsan dui. Phasellus
          fermentum lobortis metus quis euismod. Fusce euismod, leo id
          condimentum ultrices, leo augue aliquet elit, in mollis erat diam sed
          ipsum. Morbi volutpat tempus imperdiet. Sed rutrum quis sem eu
          viverra. Proin et velit sapien. Suspendisse at sapien nunc. Praesent
          gravida erat ac blandit accumsan. Etiam pretium nunc sed ultrices
          volutpat. Curabitur egestas varius mauris non varius. Cras rutrum ex
          sit amet tellus molestie finibus. Integer at lacus vel risus accumsan
          tristique. Donec hendrerit aliquet mi eu viverra. Proin elementum
          tempus suscipit. Morbi sagittis mi interdum imperdiet semper.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Donec hendrerit nibh eget elementum pharetra.
          Sed sit amet magna ex. Aliquam erat volutpat. Nulla consectetur
          ultrices eleifend. Fusce mi tortor, fringilla in tincidunt eget,
          convallis a lorem. Mauris malesuada elit sit amet dapibus viverra.
          Pellentesque efficitur tellus libero, nec tristique orci pharetra eu.
          Ut vitae mi placerat massa finibus gravida. Vestibulum odio mauris,
          hendrerit sit amet placerat facilisis, commodo in lectus. Sed vehicula
          tellus nec dignissim laoreet. Aliquam suscipit sapien nec metus
          lacinia auctor. Cras vitae quam eget magna lacinia efficitur. Proin
          dui urna, interdum id leo sed, egestas pellentesque purus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac
          dapibus nunc, vel luctus nulla. Integer in pretium ipsum. Fusce
          vulputate lorem eu ex efficitur efficitur. Cras sit amet metus ut
          justo luctus facilisis. Ut ut lacus ultrices, venenatis lorem non,
          consequat erat. Vestibulum viverra orci non neque sodales, non
          porttitor nisl sollicitudin. Curabitur dignissim diam non nisi congue
          aliquet. Sed at porta risus. Sed pulvinar faucibus mauris, sed
          tincidunt metus porta id. Fusce sit amet vulputate dui. Vestibulum
          vulputate tellus id risus suscipit, vitae pulvinar nunc elementum. Nam
          nisi magna, scelerisque eget nisl et, pretium molestie orci.
          Vestibulum ac tempor elit, sed congue metus. Proin commodo nisl at
          mollis porta. Aenean orci diam, fringilla ornare erat vitae, laoreet
          sodales dolor. Morbi efficitur ante purus, eget euismod turpis
          ultrices vitae. Phasellus eu sem eget lectus vestibulum varius.
          Suspendisse dapibus magna ac diam hendrerit, vitae interdum leo
          mollis. Proin sit amet dictum turpis. Ut nec ex et enim facilisis
          scelerisque. Etiam pulvinar sodales quam. Cras scelerisque ultricies
          lacus vel porta. Ut scelerisque elit eu orci sagittis laoreet.
          Curabitur sed sollicitudin sem, id aliquet ex. Vestibulum porttitor
          eros ac tellus accumsan eleifend venenatis nec est. Vestibulum vel
          arcu risus. Etiam nec congue risus. Integer molestie, est sit amet
          efficitur iaculis, nulla mauris porttitor neque, in condimentum ex ex
          a nulla. Nam scelerisque, mi sit amet lacinia vulputate, dolor tortor
          sollicitudin nisl, et ornare turpis dolor vel turpis. Quisque aliquam,
          augue vel feugiat sollicitudin, ipsum mauris consequat ligula, vitae
          viverra magna nibh sit amet elit. Pellentesque at placerat dolor.
          Fusce ante ex, viverra sed massa eu, blandit accumsan dui. Phasellus
          fermentum lobortis metus quis euismod. Fusce euismod, leo id
          condimentum ultrices, leo augue aliquet elit, in mollis erat diam sed
          ipsum. Morbi volutpat tempus imperdiet. Sed rutrum quis sem eu
          viverra. Proin et velit sapien. Suspendisse at sapien nunc. Praesent
          gravida erat ac blandit accumsan. Etiam pretium nunc sed ultrices
          volutpat. Curabitur egestas varius mauris non varius. Cras rutrum ex
          sit amet tellus molestie finibus. Integer at lacus vel risus accumsan
          tristique. Donec hendrerit aliquet mi eu viverra. Proin elementum
          tempus suscipit. Morbi sagittis mi interdum imperdiet semper.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Donec hendrerit nibh eget elementum pharetra.
          Sed sit amet magna ex. Aliquam erat volutpat. Nulla consectetur
          ultrices eleifend. Fusce mi tortor, fringilla in tincidunt eget,
          convallis a lorem. Mauris malesuada elit sit amet dapibus viverra.
          Pellentesque efficitur tellus libero, nec tristique orci pharetra eu.
          Ut vitae mi placerat massa finibus gravida. Vestibulum odio mauris,
          hendrerit sit amet placerat facilisis, commodo in lectus. Sed vehicula
          tellus nec dignissim laoreet. Aliquam suscipit sapien nec metus
          lacinia auctor. Cras vitae quam eget magna lacinia efficitur. Proin
          dui urna, interdum id leo sed, egestas pellentesque purus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac
          dapibus nunc, vel luctus nulla. Integer in pretium ipsum. Fusce
          vulputate lorem eu ex efficitur efficitur. Cras sit amet metus ut
          justo luctus facilisis. Ut ut lacus ultrices, venenatis lorem non,
          consequat erat. Vestibulum viverra orci non neque sodales, non
          porttitor nisl sollicitudin. Curabitur dignissim diam non nisi congue
          aliquet. Sed at porta risus. Sed pulvinar faucibus mauris, sed
          tincidunt metus porta id. Fusce sit amet vulputate dui. Vestibulum
          vulputate tellus id risus suscipit, vitae pulvinar nunc elementum. Nam
          nisi magna, scelerisque eget nisl et, pretium molestie orci.
          Vestibulum ac tempor elit, sed congue metus. Proin commodo nisl at
          mollis porta. Aenean orci diam, fringilla ornare erat vitae, laoreet
          sodales dolor. Morbi efficitur ante purus, eget euismod turpis
          ultrices vitae. Phasellus eu sem eget lectus vestibulum varius.
          Suspendisse dapibus magna ac diam hendrerit, vitae interdum leo
          mollis. Proin sit amet dictum turpis. Ut nec ex et enim facilisis
          scelerisque. Etiam pulvinar sodales quam. Cras scelerisque ultricies
          lacus vel porta. Ut scelerisque elit eu orci sagittis laoreet.
          Curabitur sed sollicitudin sem, id aliquet ex. Vestibulum porttitor
          eros ac tellus accumsan eleifend venenatis nec est. Vestibulum vel
          arcu risus. Etiam nec congue risus. Integer molestie, est sit amet
          efficitur iaculis, nulla mauris porttitor neque, in condimentum ex ex
          a nulla. Nam scelerisque, mi sit amet lacinia vulputate, dolor tortor
          sollicitudin nisl, et ornare turpis dolor vel turpis. Quisque aliquam,
          augue vel feugiat sollicitudin, ipsum mauris consequat ligula, vitae
          viverra magna nibh sit amet elit. Pellentesque at placerat dolor.
          Fusce ante ex, viverra sed massa eu, blandit accumsan dui. Phasellus
          fermentum lobortis metus quis euismod. Fusce euismod, leo id
          condimentum ultrices, leo augue aliquet elit, in mollis erat diam sed
          ipsum. Morbi volutpat tempus imperdiet. Sed rutrum quis sem eu
          viverra. Proin et velit sapien. Suspendisse at sapien nunc. Praesent
          gravida erat ac blandit accumsan. Etiam pretium nunc sed ultrices
          volutpat. Curabitur egestas varius mauris non varius. Cras rutrum ex
          sit amet tellus molestie finibus. Integer at lacus vel risus accumsan
          tristique. Donec hendrerit aliquet mi eu viverra. Proin elementum
          tempus suscipit. Morbi sagittis mi interdum imperdiet semper.
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Donec hendrerit nibh eget elementum pharetra.
          Sed sit amet magna ex. Aliquam erat volutpat. Nulla consectetur
          ultrices eleifend. Fusce mi tortor, fringilla in tincidunt eget,
          convallis a lorem. Mauris malesuada elit sit amet dapibus viverra.
          Pellentesque efficitur tellus libero, nec tristique orci pharetra eu.
          Ut vitae mi placerat massa finibus gravida. Vestibulum odio mauris,
          hendrerit sit amet placerat facilisis, commodo in lectus. Sed vehicula
          tellus nec dignissim laoreet. Aliquam suscipit sapien nec metus
          lacinia auctor. Cras vitae quam eget magna lacinia efficitur. Proin
          dui urna, interdum id leo sed, egestas pellentesque purus.</p>

      </div>
    {{/each}}
  </div>
</div>
{{outlet}}